<app-nav-bar></app-nav-bar>

<!--About us -->
<div class="container my-4 ">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Why should we choose Diamond life Insurance? <span class="text-muted">You can
                    rely on us at all times</span></h2>
            <p class="lead">Value of insurance is realised when you make a claim. In your hour of need, be it a major
                surgery or a broken car. You need more than just claim support. Our team comprises highly trained
                professionals and functional experts to guide you through the right course of action during emergenies.
                Insurance products are designed and priced through complicated mathematical models.But we strive to
                explain the extent of coverage to you in a simple manner.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="./assets/images/23.png" alt="" height="5000%" width="5000%">

        </div>
    </div>
    <br>
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="featurette-heading">What is the application process to buy Insurance? <span
                    class="text-muted"></span></h2>
            <p class="lead">The online application process to buy this plan is very simple and can be completed in few
                minutes.You just need to enter your full name, marital status, highest eduction level, occupation, PAN
                number and your communication address.Health details like height, weight and details of pre-existing
                health conditions.Documents needed to be uploaded like PAN card, Aadhar card,Address proof(Driving
                licence,Passport) and Income proof(Salary slip).</p>
        </div>
        <div class="col-md-5 ">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="./assets/images/about.png" alt="" height="1000%" width="1000%">

        </div>
    </div>
    <br>
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2 ">
            <h2 class="featurette-heading">Is it safe to buy a insurance plan online?<span class="text-muted"></span>
            </h2>
            <p class="lead">Yes, it is safe to buy insurance plan online, You can purchase insurance plan online with
                varified payment methods like UPI, debit or credit card, or net banking. As long as you select a
                reputable insurance company. You have nothing to worry about in case of any issues, you can also reach
                out to the customer service team.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="./assets/images/logo5.png" alt="" height="2050%" width="2050%">

        </div>
    </div>
</div>



<!--cards open-->
<div class="container"><br>
    <h1 style="text-align:center;">Our Team</h1><br>
    <div class="row">
        <!--Kiran Strted-->
        <div class="col-md">
            <div class="card">
                <img class="card-img-top" src="./assets/images/kiran.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Name:Kiran</h5>
                    <p class="card-text">Contact No: 8379061436 <br> Email: kiran.waywale@gmail.com</p>
                    <a href="https://github.com/kiranwaywale" class="btn btn-danger"><i class="fab fa-github" style="color: white;"></i> Connect</a>
                </div>
            </div>
            <br>
        </div>
        <!--Kiran Ended-->

        <!--Primium Customers Strted-->
        <div class="col-md">
            <div class="card">
                <img class="card-img-top" src="./assets/images/krishnaveni.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Name: Krishnaveni K</h5>
                    <p class="card-text">Contact No: 8296722006 <br> Email: kkrishnaveni644@gmail.com</p>
                    <a href="https://github.com/KrishnaveniKAPS" class="btn btn-danger"><i class="fab fa-github" style="color: white;"></i> Connect</a>
                </div>
            </div>
            <br>
        </div>
        <!--Primium Customers Ended-->

        <!--NRI Customers Strted-->
        <div class="col-md">
            <div class="card">
                <img class="card-img-top" src="./assets/images/kundan.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Name:Kundan Kumar</h5>
                    <p class="card-text">Contact No: 843197651 <br> Email: kundan.rrk21gmail.com</p>
                    <a href="https://github.com/kundanrrk/" class="btn btn-danger"><i class="fab fa-github" style="color: white;"></i> Connect</a>
                </div>
            </div>
        </div>
        <!--NRI Customers Ended-->
    </div>
</div>
<!--cards ended-->
<!--cards open-->
<div class="container"><br>
    <div class="row">
        <!--Normal Customers Strted-->
        <div class="col-md">
            <div class="card">
                <img class="card-img-top" src="./assets/images/venkat.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Name: K Venkateswara Reddy</h5>
                    <p class="card-text">Contact No: 9951619130 <br> Email: kvenkateswara502@gmail.com</p>
                    <a href="https://github.com/kiranwaywale" class="btn btn-danger"><i class="fab fa-github" style="color: white;"></i> Connect</a>
                </div>
            </div>
            <br>
        </div>
        <!--Normal Customers Ended-->

        <!--Primium Customers Strted-->
        <div class="col-md">
            <div class="card">
                <img class="card-img-top" src="./assets/images/charan.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Name: Charana H U</h5>
                    <p class="card-text">Contact No: 9481368353 <br> Email: charanhumail@gmail.com</p>
                    <a href="https://github.com/charanhu1" class="btn btn-danger"><i class="fab fa-github" style="color: white;"></i> Connect</a>
                </div>
            </div>
            <br>
        </div>
        <!--Primium Customers Ended-->

        <!--NRI Customers Strted-->
        <div class="col-md">
            <!-- <div class="card">
                <img class="card-img-top" src="./assets/images/charan.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Name:Charana H U</h5>
                    <p class="card-text">Contact No:9481368353 Email:charanhumail@gmail.com</p>
                    <a href="#" class="btn btn-danger">Connect</a>
                </div>
            </div> -->
        </div>
        <!--NRI Customers Ended-->
    </div>
</div>
<!--cards ended-->

<app-footer></app-footer>