<!--navbar started-->
<app-nav-bar></app-nav-bar>
<!--navbar Ended-->
<!--Image Carousel Started-->
<app-image-carousel></app-image-carousel>
<!--Image Carousel Ended-->

<!--cards open-->
<div class="container"><br>
    <!--Offers started-->
    <h1 style="text-align: center;">Top Offers from Insurence</h1>
    <br>
    <div class="row">
        <!--Health Insurence strted-->
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <img [src]="image1" width="300px">
                </div>
                <div class="card-body">
                    <p> The Health Insurence is the person who will pay a little
                        more for something they’ve come to expect only from your brand.</p>
                    <h4>Health Insurence</h4>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger">Read More</button>
                </div>
            </div>
            <br>
        </div>
        <!--Health Insurence ended-->

        <!--Property Insurence sTARTED-->
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <img [src]="image2" width="300px">
                </div>
                <div class="card-body">
                    <p> The Property consumer is the person who will pay a little
                        more for something they’ve come to expect only from your brand.</p>
                    <h4>Property Insurence</h4>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger"> Read More</button>
                </div>
            </div>
            <br>
        </div>
        <!--Property Insurence Ended-->

        <!--Life Insurence sTARTED-->
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <img [src]="image3" width="300px">
                </div>
                <div class="card-body">
                    <p> The Life consumer is the person who will pay a little
                        more for something they’ve come to expect only from your brand.</p>
                    <h4>Life Insurence</h4>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger"> Read More</button>
                </div>
            </div>
        </div>
        <!--Life Insurence Ended-->
    </div>
    <!--Offers Ended-->
</div>
<!--cards ended-->

<br>
<br>

<!--About Insurance Company Started-->
<div class="container">
    <h1>About Insurance Company</h1>
    <p style="text-align:justify">
        Today’s digital world has made consumption of information easy and equipped people to research and understand
        what they need, and how they can fulfill that need. Being a new-age life insurance company, we have taken a bold
        leap and migrated to a digital and direct-to-customer approach in a bid to empower customers to make their own
        financial decisions.<br><br>
        With a recent global study estimating 92% underinsurance in a typical Indian household, customer education has
        become more important than ever. In line with this concerning statistic, spreading awareness and educating
        customers on adequate protection by meaningfully engaging with them is the highest priority for us at Aegon Life
        Insurance.<br><br>
        We are dedicated towards helping our customers secure their long-term financial future.
    </p>
</div>
<!--About Insurance Company Ended-->

<!--cards open-->
<div class="container"><br>
    <h1 style="text-align:center;">All you need to know about Insurance</h1><br>
    <div class="row">
        <!--Normal Customers Strted-->
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <img [src]="image4" width="300px">
                </div>
                <div class="card-body">
                    <p> The Normal consumer is the person who will pay a little
                        for something they’ve come to expect only from your brand.</p>
                    <h4> Normal Customers</h4>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger"> Read More</button>
                </div>
            </div>
            <br>
        </div>
        <!--Normal Customers Ended-->

        <!--Primium Customers Strted-->
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <img [src]="image5" width="300px">
                </div>
                <div class="card-body">
                    <p> The Premium consumer is the person who will pay a little
                        more for something they’ve come to expect only from your brand.</p>
                    <h4></h4>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger">Read More</button>
                </div>
            </div>
            <br>
        </div>
        <!--Primium Customers Ended-->

        <!--NRI Customers Strted-->
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <img [src]="image4" width="300px">
                </div>
                <div class="card-body">
                    <p> The NRI is the person who will pay a more
                        Expensive for something they’ve come to expect only from your brand.</p>
                    <h4>NRI Customers</h4>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger"> Read More</button>
                </div>
            </div>
        </div>
        <!--NRI Customers Ended-->
    </div>
</div>
<!--cards ended-->

<!--Footer Strtted-->
<app-footer></app-footer>
<!--Footer Ended-->